*
!*/
!*.ipynb
!*.py
!*.txt
!*.md
!*.pdf
!*.gitignore
!*.yaml
!*.gitkeep
!*.sh
!*.toml
tmp/*
temp/*
working/*
*.pdf
!.devcontainer/*
!.vscode/*
!*.gitkeep
input/cpc-tokens/cpc-token-patent
input/preprocess-cands/cpc-token-lists
input/preprocess-cands/cpc_token2patents
input/preprocess-cands-ratio/cpc-token-lists
input/preprocess-cands-ratio/cpc_token2patents
input/tokenized_per_rows/per_rows
input/all-index-per-patent/data
input/all-index-per-patent/data2
input/all-index/patent2data
input/preprocess-all-token-pairs/queries
input/preprocess-all-token-single/queries0
input/preprocess-all-token-single/queries1
input/token-index/key_token_patent
input/token-index/index.txt
input/token-index/token2range
input/cpc-tokens/cpc2token2patent
input/rare-tokens/rare_token
input/token-counts/token_counts
input/train-index/tmp
input/train-index/index_10k_800k
input/train-index-2500/tmp
input/train-index-2500/index_2500_200k
input/unique-tokens/unique_token
input/uspto-boolean-search-optimization
input/*/db
input/*/index.txt
input/*/*/index.txt
input/*/split/ratio-db-*
input/*/split/single-db-*
input/*/data
input/*/patent-data
input/preprocess-complete/data
input/preprocess-complete/patent-data
input/*/patent-data
input/*/split/*-db-*
input/preprocess-token-token/token2patents
input/preprocess-token-token/base
input/*/flag